<template>
  <!--main-->
	<main class="main" role="main">
		<!--wrap-->
		<div class="wrap clearfix">
			<!--row-->
			<div class="row">
			<!--content-->
				<section class="content center full-width">
					<div class="modal container">
						<h3>Login</h3>
						<form @submit.prevent="checkLogin()">
							<div class="f-row">
								<input type="text" placeholder="Your email" name="email" id="email" v-model="userEmail" :autocomplete="autocomplete ? 'on' : 'off'"/>
								<p class="is-error" v-if="!$v.userEmail.required && $v.userEmail.$dirty">Enter your email</p>
								<p class="is-error" v-if="!$v.userEmail.email && $v.userEmail.$dirty">Invalid email</p>
							</div>
							<div class="f-row">
								<input type="password" placeholder="Your password" v-model="passwd" name="password" id="password" autocomplete="on" />
								<p class="is-error" v-if="!$v.passwd.required && $v.passwd.$dirty">Enter your password</p>
							</div>
							
							<div class="f-row">
								<input type="checkbox" @change="toggleRemember($event)" id="remember" v-model="remember" />
								<label for="remember" >Remember me next time</label>
							</div>
							
							<div class="f-row bwrap">
								<input type="submit" value="login" >
							</div>
						</form>
						<p><a href="#">Forgotten password?</a></p>
						<p>Dont have an account yet? <router-link to="/registration">Sign up.</router-link></p>
						<div v-if="invalid" class="alert alert-danger" role="alert">Invalid email or password.</div>
					</div>
				</section>
				<!--//content-->
			</div>
			<!--//row-->
		</div>
		<!--//wrap-->
	</main>
	<!--//main-->
</template>
<script>
import { required, email } from 'vuelidate/lib/validators'
import NProgress from 'nprogress'

export default {
	data() {
		return {
			userEmail: '',
			passwd: null,
			remember: false,
			autocomplete: false,
			invalid: false
		}
	},
	validations: {
		userEmail: {
			required,
			email
		},
		passwd: {
				required
		}
	},
	methods: {
	async	checkLogin() {
			try {
					this.$v.$touch()
					if (!this.$v.$invalid) {
						const userData = {
							email: this.userEmail,
							password: this.passwd,
							returnSecureToken: true
						}
							NProgress.start()
							const res = await this.$store.dispatch('login', userData)
							if(!res) {
								NProgress.done()
								this.$toast.error(
									'Username or password is invalid', 
									'Error', { 
									 position: 'topCenter', timeout: '3000',  overlay: false,
									 onClosing: function(instance, toast, closedBy) {
									 }
								})
								// this.invalid = true
							
							} else {
								const app = this;
								NProgress.done()
								this.$toast.success(
									'Login Successfully',
									'Redirecting..', { 
										 position: 'topCenter', 
										 timeout: '1000',  
										 overlay: false,
											onClosing: function(instance, toast, closedBy) {
												app.$router.push('/')
											}
									})
								// this.invalid = false
								// this.$router.push('/')
							}
						
					}
			} catch (error) {
				NProgress.done()
			}
			
		},
		toggleRemember(event) {
			this.autocomplete = event.target.checked
		}
	},
	beforeCreate() {
		if(this.$store.getters.isAuthenticated) {
			this.$router.push('/')
		}
	}
}
</script>