<template>
  <!--main-->
	<main class="main" role="main">
		<!--wrap-->
		<div class="wrap clearfix">
		<!--breadcrumbs-->
      <breadcrumbs></breadcrumbs>
     <!--//breadcrumbs-->
			<!--content-->
			<section class="content">
				<!--row-->
				<div class="row">
					<!--profile left part-->
					<div class="my_account one-fourth">
						<figure>
							<img src="../../../static/images/avatar4.jpg" alt="" />
						</figure>
						<div class="container">
							<h2>Anabelle Q.</h2> 
						</div>
					</div>
					<!--//profile left part-->
					
					<div class="three-fourth">
						<nav class="tabs">
							<ul>
								<li class="tab-link active"><a @click="filterTab($event, 'about')" href="javascript:void(0)" title="About me">About me</a></li>
								<li class="tab-link"><a @click="filterTab($event, 'recipes')" href="javascript:void(0)" title="My recipes">My recipes</a></li>
							</ul>
						</nav>
						
						<!--about-->
						<div class="tab-content" ref="about" id="about" >
							<div class="row">
								<dl class="basic two-third">
									<dt>Name</dt>
									<dd>Anabelle Q.</dd>
									<dt>Favorite cusine</dt>
									<dd>Thai, Mexican</dd>
									<dt>Favorite appliances</dt>
									<dd>Blender, sharp knife</dd>
									<dt>Favorite spices</dt>
									<dd>Chilli, Oregano, Basil</dd>
									<dt>Recipes submitted</dt>
									<dd>9</dd>
									<dt>Posts submitted</dt>
									<dd>9</dd>
								</dl>
								
								<div class="one-third">
									<ul class="boxed gold">
										<li class="light"><a href="#" title="Best recipe"><i class="icon icon-themeenergy_crown"></i> <span>Had a best recipe</span></a></li>
										<li class="medium"><a href="#" title="Was featured"><i class="icon icon-themeenergy_top-rankings"></i> <span>Was featured</span></a></li>
										<li class="dark"><a href="#" title="Added a first recipe"><i class="icon  icon-themeenergy_medal-first-place"></i> <span>Added a first recipe</span></a></li>
										
										<li class="medium"><a href="#" title="Added 10-20 recipes"><i class="icon icon-themeenergy_medal-8"></i> <span>Added 10-20 recipes</span></a></li>
										<li class="dark"><a href="#" title="Events"><i class="icon icon-themeenergy_pencil"></i> <span>Wrote a blog post</span></a></li>
										<li class="light"><a href="#" title="Fish"><i class="icon icon-themeenergy_chat-bubbles"></i> <span>Wrote a comment</span></a></li>
										
										<li class="dark"><a href="#" title="Fish"><i class="icon icon-themeenergy_cup2"></i> <span>Won a contest</span></a></li>
										<li class="light"><a href="#" title="Healthy"><i class="icon icon-themeenergy_share3"></i> <span>Shared a recipe</span></a></li>
										<li class="medium"><a href="#" title="Was featured"><i class="icon icon-themeenergy_top-rankings"></i> <span>Was featured</span></a></li>
									</ul>
								</div>
							</div>
						</div>
						<!--//about-->
					
						<!--my recipes-->
						<div class="tab-content" ref="recipes" id="recipes" style="display:none">
							<div class="entries row">
								<template v-for="item in recipes" >
								<recipe-block 
									:recipeName = item.recipeName
									:image = item.image
									:difficulty = item.difficulty
									:likes = item.likes
									:comments = item.comments
									:recipeLink = item.recipeLink
									widthClass = 'one-third'
								>
								</recipe-block>
							
							</template>
							</div>
						</div>
						<!--//my recipes-->
					</div>
				</div>
				<!--//row-->
			</section>
			<!--//content-->
		</div>
		<!--//wrap-->
	</main>
	<!--//main-->
</template>

<script>
import recipeBlock from '@/components/common/recipe-block'
import recipes from '@/data/recipes'
export default {
	data() {
		return {	
			recipes: recipes
		}
	},
	components: {
		recipeBlock
	},
  methods: {
    filterTab(event, id) {
      var elements = document.getElementsByClassName('tab-content');
      for(var i=0; i<elements.length; i++) { 
        elements[i].style.display='none';
      }

      var elements = document.getElementsByClassName('tab-link');
      for(var i=0; i<elements.length; i++) { 
        elements[i].classList.remove('active')
      }
      event.target.parentElement.classList.add("active")
      document.getElementById(id).style.display = "block";
    // evt.currentTarget.className += " active";
    }
  },
  mounted() {
  },
}
</script>
<style scoped>
.tabs li {
  width: 50%;
}
</style>