<template>
 <!--main-->
	<main class="main" role="main">
		<!--wrap-->
		<div class="wrap clearfix">
			<!--breadcrumbs-->
			<breadcrumbs></breadcrumbs>
			<!--//breadcrumbs-->
			
			<!--row-->
			<div class="row">
				<header class="s-title">
					<h1>Recipes</h1>
				</header>
				
				<aside class="above-sidebar full-width">
					<ul class="boxed">
						<li class="light"><a href="recipes" title="Appetizers"><i class="icon icon-themeenergy_pasta"></i> <span>Apetizers</span></a></li>
						<li class="medium"><a href="#" title="Cocktails"><i class="icon icon-themeenergy_margarita2"></i> <span>Cocktails</span></a></li>
						<li class="dark"><a href="#" title="Deserts"><i class="icon icon-themeenergy_cupcake"></i> <span>Deserts</span></a></li>
						
						<li class="light"><a href="#" title="Cocktails"><i class="icon icon-themeenergy_eggs"></i> <span>Eggs</span></a></li>
						<li class="medium"><a href="#" title="Equipment"><i class="icon icon-themeenergy_blender"></i> <span>Equipment</span></a></li>
						<li class="dark"><a href="#" title="Events"><i class="icon icon-themeenergy_turkey"></i> <span>Events</span></a></li>
					
						<li class="light"><a href="#" title="Fish"><i class="icon icon-themeenergy_fish2"></i> <span>Fish</span></a></li>
						<li class="medium"><a href="#" title="Ftness"><i class="icon icon-themeenergy_biceps"></i> <span>Fitness</span></a></li>
						<li class="dark"><a href="#" title="Healthy"><i class="icon icon-themeenergy_apple2"></i> <span>Healthy</span></a></li>
						
						<li class="medium"><a href="#" title="Asian"><i class="icon icon-themeenergy_sushi"></i> <span>Asian</span></a></li>
						<li class="dark"><a href="#" title="Mexican"><i class="icon icon-themeenergy_peper"></i> <span>Mexican</span></a></li>
						<li class="light"><a href="#" title="Pizza"><i class="icon  icon-themeenergy_pizza-slice"></i> <span>Pizza</span></a></li>
						
						<li class="medium"><a href="#" title="Kids"><i class="icon icon-themeenergy_happy"></i> <span>Kids</span></a></li>
						<li class="dark"><a href="#" title="Meat"><i class="icon icon-themeenergy_meat"></i> <span>Meat</span></a></li>
						<li class="light"><a href="#" title="Snacks"><i class="icon icon-themeenergy_fried-potatoes"></i> <span>Snacks</span></a></li>
						
						<li class="medium"><a href="#" title="Salads"><i class="icon icon-themeenergy_eggplant"></i> <span>Salads</span></a></li>
						<li class="dark"><a href="#" title="Storage"><i class="icon icon-themeenergy_soup2"></i> <span>Soups</span></a></li>
						<li class="light"><a href="#" title="Vegetarian"><i class="icon icon-themeenergy_plant-symbol"></i> <span>Vegetarian</span></a></li>
					</ul>
				</aside>
				
				<!--content-->
				<section class="content full-width">
					<!--entries-->
					<div class="entries row">
						<template v-for="(item, key) in recipes" >
								<recipe-block 
									:recipeName = item.title
									:image = item.recipeImage.dataURL
									:difficulty = item.difficultyValue
									:likes = item.likes
									:comments = item.comments
									:recipeLink = key
									widthClass = 'one-fourth'
								>
								</recipe-block>
							
							</template>
							<div class="quicklinks">
								<a href="#" class="button">Mores recipes</a>
                <btn-scroll-top></btn-scroll-top>
							</div>
					</div>
					<!--//entries-->
				</section>
				<!--//content-->
			</div>
			<!--//row-->
		</div>
		<!--//wrap-->
	</main>
	<!--//main-->
</template>

<script>
import recipeBlock from '../common/recipe-block'
import NProgress from 'nprogress'
export default {
	data() {
		return {
			recipes: {},
		}
	},
	components: {
		recipeBlock
	},
	methods: {
		async	getRecipe () {
			try {
					NProgress.start()
					await this.$store.dispatch('getRecipes')
					.then(res => {
							this.recipes = res
							NProgress.done();
							return true
					})
			.catch(error => {
					console.log(error)
			}) 
			} catch (error) {
				console.log('Error:', error)
				NProgress.done();
			}
		
		}
	},
	mounted() {
		this.getRecipe()
	},
}
</script>