<template>
  <!--main-->
	<main class="main" role="main">
		<!--wrap-->
		<div class="wrap clearfix">
				<!--breadcrumbs-->
			<breadcrumbs></breadcrumbs>
			<!--//breadcrumbs-->
			
			<!--row-->
			<div class="row">
				<header class="s-title">
					<h1>{{recipe.title}} {{recipesId}}</h1>
				
				</header>
				<!--content-->
				<section class="content three-fourth">
					<!--recipe-->
						<div class="recipe">
							<div class="row">
								<!--two-third-->
								<article class="two-third">
								
									<div class="image"><a><img :src=recipe.recipeImage.dataURL alt="" style="width: 100%"/></a></div>
									<div class="intro">
										<p><strong>{{recipe.description}}</strong></p>
										<p><strong>Recipe by: {{recipe.recipeBy}}</strong></p>
									</div>
									<div class="instructions">
										<ol >
											<li v-for="step in recipe.steps">{{step.desc}}</li>
										</ol>
									</div>
								</article>
								<!--//two-third-->
								
								<!--one-third-->
								<article class="one-third">
									<dl class="basic">
										<dt>Preparation time</dt>
										<dd>{{recipe.preparationTime}} mins</dd>
										<dt>Cooking time</dt>
										<dd>{{recipe.cookingTime}} mins</dd>
										<dt>Difficulty</dt>
										<dd>{{recipe.difficultyValue}}</dd>
										<dt>Serves</dt>
										<dd>{{recipe.serveNumber}} people</dd>
									</dl>
									
									<dl class="user">
										<dt>Category</dt>
										<dd>{{recipe.categoryValue}}</dd>
										<dt>Posted by</dt>
										<dd>Jennifer W.</dd>
									</dl>
									
									<dl class="ingredients">
										<template v-for="value in recipe.ingredients">
											<dt>{{value.quantity}}</dt>
											<dd>{{value.name}}</dd>
										</template>
									</dl>
								</article>
								<!--//one-third-->
							</div>
								<div class="rating" id="rating">
								<h5>Post recipe rating </h5>
								<star-rating 
								:rating = recipeRating
								:star-size = 25
								inactive-color = '#ffffff'
								active-color = '#FF8E88'
								:read-only = isReadOnly 
								@rating-selected="getRating()"
								v-model="recipeRating"
								text-class = "star-custom"
								></star-rating>
						</div>
						</div>
						<!--//recipe-->
					
							
						<!--comments-->
						<div class="comments" id="comments">
							<h2>5 comments </h2>
							<ol class="comment-list">
								<!--comment-->
								<li class="comment depth-1">
									<div class="avatar"><a href="#"><img src="../../../static/images/avatar1.jpg" alt="" /></a></div>
									<div class="comment-box">
										<div class="comment-author meta"> 
											<strong>Kimberly C.</strong> said 1 month ago <a href="#" class="comment-reply-link"> Reply</a>
										</div>
										<div class="comment-text">
											<p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. Ut wisi enim ad minim veniam, quis nostrud exerci tation.</p>
										</div>
									</div> 
								</li>
								<!--//comment-->
								
								<!--comment-->
								<li class="comment depth-1">
									<div class="avatar"><a href="#"><img src="../../../static/images/avatar2.jpg" alt="" /></a></div>
									<div class="comment-box">
										<div class="comment-author meta"> 
											<strong>Alex J.</strong> said 1 month ago <a href="#" class="comment-reply-link"> Reply</a>
										</div>
										<div class="comment-text">
											<p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. Ut wisi enim ad minim veniam, quis nostrud exerci tation.</p>
										</div>
									</div> 
								</li>
								<!--//comment-->
								
								<!--comment-->
								<li class="comment depth-2">
									<div class="avatar"><a href="#"><img src="../../../static/images/avatar1.jpg" alt="" /></a></div>
									<div class="comment-box">
										<div class="comment-author meta"> 
											<strong>Kimberly C.</strong> said 1 month ago <a href="#" class="comment-reply-link"> Reply</a>
										</div>
										<div class="comment-text">
											<p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. Ut wisi enim ad minim veniam, quis nostrud exerci tation.</p>
										</div>
									</div> 
								</li>
								<!--//comment-->
								
								<!--comment-->
								<li class="comment depth-3">
									<div class="avatar"><a href="#"><img src="../../../static/images/avatar2.jpg" alt="" /></a></div>
									<div class="comment-box">
										<div class="comment-author meta"> 
											<strong>Alex J.</strong> said 1 month ago <a href="#" class="comment-reply-link"> Reply</a>
										</div>
										<div class="comment-text">
											<p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. Ut wisi enim ad minim veniam, quis nostrud exerci tation.</p>
										</div>
									</div> 
								</li>
								<!--//comment-->
								
								<!--comment-->
								<li class="comment depth-1">
									<div class="avatar"><a href="#"><img src="../../../static/images/avatar3.jpg" alt="" /></a></div>
									<div class="comment-box">
										<div class="comment-author meta"> 
											<strong>Denise M.</strong> said 1 month ago <a href="#" class="comment-reply-link"> Reply</a>
										</div>
										<div class="comment-text">
											<p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. Ut wisi enim ad minim veniam, quis nostrud exerci tation.</p>
										</div>
									</div> 
								</li>
								<!--//comment-->
							</ol>
						</div>
						<!--//comments-->
						
						<!--respond-->
						<div class="comment-respond" id="respond">
							<h2>Leave a reply</h2>
							<div class="container">
								<p><strong>Note:</strong> Comments on the web site reflect the views of their authors, and not necessarily the views of the socialchef internet portal. Requested to refrain from insults, swearing and vulgar expression. We reserve the right to delete any comment without notice explanations.</p>
								<p>Your email address will not be published. Required fields are signed with <span class="req">*</span></p>
								<form>
									<div class="f-row">
										<div class="third">
											<input type="text" placeholder="Your name" />
											<span class="req">*</span>
										</div>
										
										<div class="third">
											<input type="email" placeholder="Your email" />
											<span class="req">*</span>
										</div>
										
										<div class="third">
											<input type="text" placeholder="Your website" />
										</div>
									
									</div>
									<div class="f-row">
										<textarea></textarea>
									</div>
									
									<div class="f-row">
										<div class="third bwrap">
											<input type="submit" value="Submit comment" />
										</div>
									</div>
									
									<div class="bottom">
										<div class="f-row checkbox">
											<input type="checkbox" id="ch1" />
											<label for="ch1">Notify me of replies to my comment via e-mail</label>
										</div>
										<div class="f-row checkbox">
											<input type="checkbox" id="ch2" />
											<label for="ch2">Notify me of new articles by email.</label>
										</div>
									</div>
								</form>
							</div>
						</div>
						<!--//respond-->
				</section>
				<!--//content-->
				
				<!--right sidebar-->
				<aside class="sidebar one-fourth">
					<div class="widget nutrition">
						<h3>Nutrition facts <span>(per serving)</span></h3>
						<table>
							<tr v-for="value in recipe.nutritions">
								<td>{{value.name}} </td>
								<td>{{value.quantity}}</td>
							</tr>
						
						</table>
					</div>
					
					<div class="widget share">
						<ul class="boxed">
							<li class="light"><a href="#" title="Facebook"><i class="fa fa-facebook"></i> <span>Share on Facebook</span></a></li>
							<li class="medium"><a href="#" title="Twitter"><i class="fa fa-twitter"></i> <span>Share on Twitter</span></a></li>
							<li class="dark"><a href="#" title="Favourites"><i class="fa fa-heart"></i> <span>Add to Favourites</span></a></li>
						</ul>
					</div>
					
					<div class="widget members">
						<h3>Members who liked this recipe</h3>
						<ul class="boxed">
							<li><div class="avatar"><a href="#"><img src="../../../static/images/avatar1.jpg" alt="" /><span>Kimberly C.</span></a></div></li>
							<li><div class="avatar"><a href="#"><img src="../../../static/images/avatar2.jpg" alt="" /><span>Alex J.</span></a></div></li>
							<li><div class="avatar"><a href="#"><img src="../../../static/images/avatar3.jpg" alt="" /><span>Denise M.</span></a></div></li>
							<li><div class="avatar"><a href="#"><img src="../../../static/images/avatar9.jpg" alt="" /><span>Jason H.</span></a></div></li>
							<li><div class="avatar"><a href="#"><img src="../../../static/images/avatar8.jpg" alt="" /><span>Jennifer W.</span></a></div></li>
							<li><div class="avatar"><a href="#"><img src="../../../static/images/avatar4.jpg" alt="" /><span>Anabelle Q.</span></a></div></li>
							<li><div class="avatar"><a href="#"><img src="../../../static/images/avatar7.jpg" alt="" /><span>Thomas M.</span></a></div></li>
							<li><div class="avatar"><a href="#"><img src="../../../static/images/avatar5.jpg" alt="" /><span>Michelle S.</span></a></div></li>
							<li><div class="avatar"><a href="#"><img src="../../../static/images/avatar6.jpg" alt="" /><span>Bryan A.</span></a></div></li>
						</ul>
					</div>
				</aside>
				<!--//right sidebar-->
			</div>
			<!--//row-->
		</div>
		<!--//wrap-->
	</main>
	<!--//main-->
</template>
<script>
import NProgress from 'nprogress'
import StarRating from 'vue-star-rating'

export default {
  data() {
    return {
			isReadOnly: false,
			recipesId: '',
			recipeRating: 0,
			recipe: {
				recipeImage: {
					daatURl : ''
				}
			}
    }
	},
	components: {
		 StarRating
	},
	methods: {
		async getRecipeDetails (key) {
			NProgress.start();
			await this.$store.dispatch('getRecipeDetails', key)
			.then(res => {
				if(res != null) {
					this.recipe = res
					NProgress.done();
				} else {
					this.$router.replace('/*')
				}
			})
			.catch(error => {
				NProgress.done();
				console.log('recipe details error:', error)
			})
		},
		getRating() {
			console.log('rating is:', this.recipeRating)
		}
	},
	watch: {
		'$route.params.id': function(id) {
			this.getRecipeDetails(id)
		}
	},
	mounted() {
		try {
			this.getRecipeDetails(this.$route.params.id)
		} catch (error) {
			console.log('error:', error)
		}
		
  },
}
</script>

<style scoped>
.rating {
	margin-bottom: 30px;
}
</style>