<template>
  <!--main-->
	<main class="main" role="main">
		
   
		<!--wrap-->
		<div class="wrap clearfix">

		 <!--breadcrumbs-->
      <breadcrumbs></breadcrumbs>
     <!--//breadcrumbs-->
			
			<!--row-->
			<div class="row">
				<header class="s-title">
					<h1>Add a new recipe</h1>
				</header>
				<!--content-->
				<section class="content full-width">
					<div class="submit_recipe container">
						<form @submit.prevent="submitRecipe()">
							<section>
								<h2>Basics</h2>
								<p>All fields are required.</p>
								<div class="f-row">
									<div class="full">
										<input :class="{'is-error': $v.recipeInfo.title.$error}" @blur="$v.recipeInfo.title.$touch()" type="text" placeholder="Recipe title" v-model.trim="recipeInfo.title" />
										<p class="is-error" v-if="!$v.recipeInfo.title.required && $v.recipeInfo.title.$dirty">Enter recipe title</p>
										<p class="is-error" v-if="!$v.recipeInfo.title.minLength && $v.recipeInfo.title.$dirty">Enter minimum {{$v.recipeInfo.title.$params.minLength.min}} characters</p>
										<p class="is-error" v-if="!$v.recipeInfo.title.maxLength && $v.recipeInfo.title.$dirty">Maximum {{$v.recipeInfo.title.$params.maxLength.max}} characters allowed</p>
									</div>
								</div>
								<div class="f-row">
									<div class="third">
										<input :class="{'is-error': $v.recipeInfo.preparationTime.$error}" @blur="$v.recipeInfo.preparationTime.$touch()" type="text" placeholder="Preparation time in minute (e.g 45, 90)" v-model.trim="recipeInfo.preparationTime" />
										<p class="is-error" v-if="!$v.recipeInfo.preparationTime.required && $v.recipeInfo.preparationTime.$dirty">Enter preparation time</p>
										<p class="is-error" v-if="!$v.recipeInfo.preparationTime.numeric && $v.recipeInfo.preparationTime.$dirty">Enter only numeric value</p>
										<p class="is-error" v-if="!$v.recipeInfo.preparationTime.maxLength && $v.recipeInfo.preparationTime.$dirty">Maximum 4 digits allowed</p>
									</div>
									<div class="third">
										<input :class="{'is-error': $v.recipeInfo.cookingTime.$error}" type="text" @blur="$v.recipeInfo.cookingTime.$touch()" placeholder="Cooking time in minute (e.g 45, 90)" v-model.trim="recipeInfo.cookingTime" />
										<p class="is-error" v-if="!$v.recipeInfo.cookingTime.required && $v.recipeInfo.cookingTime.$dirty">Enter cooking time</p>
										<p class="is-error" v-if="!$v.recipeInfo.cookingTime.numeric && $v.recipeInfo.cookingTime.$dirty">Enter only numeric value</p>
										<p class="is-error" v-if="!$v.recipeInfo.cookingTime.maxLength && $v.recipeInfo.cookingTime.$dirty">Maximum 4 digits allowed</p>
									</div>
									<div class="third">
										<select :class="{'is-error': !$v.recipeInfo.difficultyValue.required && $v.recipeInfo.difficultyValue.$dirty}" @input="$v.recipeInfo.difficultyValue.$touch" v-model="recipeInfo.difficultyValue">
											<option value="">Select Difficulty</option>
											<option v-for="(cat, index) in recipeInfo.difficulty"  :value="cat.value" :key="index">{{cat.name}}</option>
										</select>
										<p class="is-error" v-if="$v.recipeInfo.difficultyValue.$error && $v.recipeInfo.difficultyValue.$dirty">Please select difficulty</p>
									</div>
								</div>
								<div class="f-row">
									<div class="third">
										<input :class="{'is-error': $v.recipeInfo.serveNumber.$error}" type="text"  @blur="$v.recipeInfo.serveNumber.$touch()" placeholder="Serves how many people?" v-model.trim="recipeInfo.serveNumber" />
										<p class="is-error" v-if="!$v.recipeInfo.serveNumber.required && $v.recipeInfo.serveNumber.$dirty">Enter serves pepole number</p>
										<p class="is-error" v-if="!$v.recipeInfo.serveNumber.numeric && $v.recipeInfo.serveNumber.$dirty">Enter only numeric value</p>
										<p class="is-error" v-if="!$v.recipeInfo.serveNumber.maxLength && $v.recipeInfo.serveNumber.$dirty">Maximum 4 characters allowed</p>
									</div>
									<div class="third">
										<select :class="{'is-error': !$v.recipeInfo.categoryValue.required && $v.recipeInfo.categoryValue.$dirty}" @input="$v.recipeInfo.categoryValue.$touch" v-model="recipeInfo.categoryValue">
											<option value="">Select category</option>
											<option v-for="(cat, index) in recipeInfo.category" :value=cat.value :key="index">{{cat.name}}</option>
										</select>
										<p class="is-error" v-if="$v.recipeInfo.categoryValue.$error && $v.recipeInfo.categoryValue.$dirty">Please select category</p>
									</div>
								</div>
							</section>
							
							<section>
								<h2>Description</h2>
								<div class="f-row">
									<div class="full">
										<textarea :class="{'is-error': $v.recipeInfo.description.$error}" @blur="$v.recipeInfo.description.$touch()" placeholder="Recipe Description" v-model.trim="recipeInfo.description"></textarea>
										<p class="is-error" v-if="!$v.recipeInfo.description.required && $v.recipeInfo.description.$dirty">Enter recipe description</p>
										<p class="is-error" v-if="!$v.recipeInfo.description.minLength && $v.recipeInfo.description.$dirty">Enter minimum 30 characters</p>
										<p class="is-error" v-if="!$v.recipeInfo.description.maxLength && $v.recipeInfo.description.$dirty">Maximum 1000 characters allowed</p>
									</div>
								</div>
							</section>	
							
							<section>
								<h2>Ingredients <br> </h2>
								<p><span>Enter ingredient Name (e.g: Milk))</span></p>
								<p><span>Enter ingredient quantity (e.g: 80g, 1kg, 1ml, 2L)</span></p>
							 <transition-group name="list-complete">
								<div class="f-row ingredient list-complete-item" v-for="(v, index) in $v.ingredients.$each.$iter" :key="'ingredient' + index">
									<div class="large">
										<input :class="{'is-error': v.name.$error}" type="text" @blur="v.name.$touch()" v-model.trim="v.name.$model" :placeholder="'Ingredient ' + (parseInt(index) + 1)" />
										<p class="is-error" v-if="!v.name.required && v.name.$dirty">Enter ingredient name</p>
										<p class="is-error" v-if="!v.name.alpha && v.name.$dirty">Only alphabets character allowed</p>
										<p class="is-error" v-if="!v.name.minLength && v.name.$dirty">Enter minimum 2 characters</p>
										<p class="is-error" v-if="!v.name.maxLength && v.name.$dirty">Maximum 20 characters allowed</p>
									</div>
									<div class="medium">
										<input :class="{'is-error': v.quantity.$error}" type="text" @blur="v.quantity.$touch()" v-model.trim="v.quantity.$model" placeholder="Quantity" />
										<p class="is-error" v-if="!v.quantity.required && v.quantity.$dirty">Enter ingredient quantity</p>
										<p class="is-error" v-if="!v.quantity.alphaNum && v.quantity.$dirty">Only letter, number and ( / . ) allowed</p>
										<p class="is-error" v-if="!v.quantity.minLength && v.quantity.$dirty">Enter minimum 2 characters</p>
										<p class="is-error" v-if="!v.quantity.maxLength && v.quantity.$dirty">Maximum 50 characters allowed</p>
									</div>
									<button class="remove" @click.prevent="removeIngredient(index)">-</button>
								</div>
							 </transition-group>

								<div class="f-row full">
									<button class="add" @click.prevent="addIngredient()">Add an ingredient</button>
								</div>
							</section>	
							
							<section>
								<h2>Nutrition facts <span>(per serving)</span></h2>
 							<transition-group name="list-complete">
								<div class="f-row ingredient list-complete-item" v-for="(v, index) in $v.nutritions.$each.$iter" :key="'nutrition' + index">
									<div class="large">
										<input :class="{'is-error': v.name.$error}" type="text" @blur="v.name.$touch()" v-model.trim="v.name.$model" :placeholder="'Nutritions ' + (parseInt(index) + 1)" />
										<p class="is-error" v-if="!v.name.required && v.name.$dirty">Enter nutritions name</p>
										<p class="is-error" v-if="!v.name.alpha && v.name.$dirty">Only letter, number, forward slash, full stop allowed</p>
										<p class="is-error" v-if="!v.name.minLength && v.name.$dirty">Enter minimum 2 characters</p>
										<p class="is-error" v-if="!v.name.maxLength && v.name.$dirty">Maximum 50 characters allowed</p>
									</div>
									<div class="medium">
										<input :class="{'is-error': v.quantity.$error}" type="text" @blur="v.quantity.$touch()" v-model.trim="v.quantity.$model" placeholder="Quantity" />
										<p class="is-error" v-if="!v.quantity.required && v.quantity.$dirty">Enter nutritions quantity</p>
										<p class="is-error" v-if="!v.quantity.alphaNum && v.quantity.$dirty">Only letter, number, forward slash, full stop allowed</p>
										<p class="is-error" v-if="!v.quantity.minLength && v.quantity.$dirty">Enter minimum 2 characters</p>
										<p class="is-error" v-if="!v.quantity.maxLength && v.quantity.$dirty">Maximum 50 characters allowed</p>
									</div>
									<button class="remove" @click.prevent="removeNutritions(index)">-</button>
								</div>
 							</transition-group>

								<div class="f-row full">
									<button class="add" @click.prevent="addNutritions()">Add a nutrition</button>
								</div>
							</section>	
							
							<section>
								<h2>Recipe Steps <span>(enter instructions, each step at a time)</span></h2>
							<transition-group name="list-complete">
								<div class="f-row instruction list-complete-item" v-for="(v, index) in $v.instructions.$each.$iter" :key="'instruction' + index">
									<div class="full">
										<textarea :class="{'is-error': v.desc.$error}" type="text" @blur="v.desc.$touch()" v-model.trim="v.desc.$model" :placeholder="'Instructions ' + (parseInt(index) + 1)" style="height: 80px"></textarea>
										<p class="is-error" v-if="!v.desc.required && v.desc.$dirty">Enter recipe instructions</p>
										<p class="is-error" v-if="!v.desc.minLength && v.desc.$dirty">Enter minimum 30 characters</p>
										<p class="is-error" v-if="!v.desc.maxLength && v.desc.$dirty">Maximum 500 characters allowed</p>
									</div>
									<button @click.prevent="removeInstruction(index)" class="remove">-</button>
								</div>
							</transition-group>
								<div class="f-row full">
									<button @click.prevent="addInstruction()" class="add">Add a step</button>
								</div>
							</section>
							<section>
								<h2>Photo</h2>
								<div class="f-row full">
								<vue-dropzone  
									ref="myVueDropzone" 
									id="dropzone"
									:useCustomSlot="true" 
									:options="dropzoneOptions"
									@vdropzone-file-added = "fileAdded"
									@vdropzone-removed-file = "fileRemoved"
									@vdropzone-complete = "fileUploadCompleted"
									@vdropzone-error = "fileError"
									:include-styling = "true"
									
								>
								<div class="uploader" ><span class="filename" style="user-select: none;">Select your profile picture</span><span class="action" style="user-select: none;">Choose File</span></div>
								</vue-dropzone>
								<p class="is-error" v-if="!fileUploaded">Please enter recipe image </p>
							</div>
							</section>	
							
							<div class="f-row ">
								<div class="full">
									<input type="submit" class="button" id="submitRecipe" value="Publish this recipe" />
								</div>
							</div>
							<div class="f-row ">
								<p v-if="$v.$invalid && $v.$dirty" class="is-error">Please enter valid recipe information</p>	
								<p v-if="!fileUploaded" class="is-error">Please enter recipe image</p>	
							</div>
						</form>
					</div>
				</section>
				<!--//content-->
			</div>
			<!--//row-->
			<alert-box	ref="alert">
			</alert-box>
		</div>
	</main>
	<!--//main-->
</template>
<script>
import vue2Dropzone from 'vue2-dropzone'
import 'vue2-dropzone/dist/vue2Dropzone.min.css'
import NProgress from 'nprogress'
import { required, email, alpha, maxLength, minLength, numeric, helpers, alphaNum} from 'vuelidate/lib/validators'	
const alphaRegex = helpers.regex('alpha', /^[a-zA-Z ]*$/)
const alphaNumRegex = helpers.regex('alphaNum', /^[a-zA-Z0-9/. ]*$/)
export default {
  data() {
    return {
			isShow: false,
			fileUploaded: true,
      ingredient: 1,
      ingredients: [],
			instructions: [],
			nutritions: [],
			recipeInfo: {
				title: '',
				preparationTime: '',
				cookingTime: '',
				serveNumber: '',
				difficulty: [
					{value: 'easy', name: 'Easy', selected: true},
					{value: 'medium', name: 'Medium'},
					{value: 'Hard', name: 'Hard'}
				],
				category: [
					{value: 'Dinner', name: 'Dinner'},
					{value: 'lunch', name: 'lunch'},
					{value: 'Breakfast', name: 'Breakfast'}
				],
				description: '',
				recipeImage: '',
				difficultyValue: '',
				categoryValue: '',
			},
		
			
			dropzoneOptions: {
				url: 'https://httpbin.org/post',
				thumbnailWidth: null,
				thumbnailWidth: null,
				maxFilesize: 5,
				addRemoveLinks: true,
				uploadMultiple: false,
				maxFiles: 1,
				maxFilesize: 1,
				filesizeBase: 1024,
				acceptedFiles: '.jpg,.jpeg,.png'
			}
		}
	},
	validations: {
		recipeInfo: {
			title: {
				required,
				minLength: minLength(3),
				maxLength: maxLength(100)
			},
			preparationTime: {
				required,
				numeric,
				maxLength: maxLength(4)
			},
			cookingTime: {
				required,
				numeric,
				maxLength: maxLength(4)
			},
			description: {
				required,
				maxLength: maxLength(1000),
				minLength: minLength(30)
			},
			serveNumber: {
				required,
				numeric,
				maxLength: maxLength(4)
			},
			difficultyValue: {
				required
			},
			categoryValue: {
				required
			}
		},
		ingredients: {
			required,
			$each: {
				name: {
					required,
					alpha: alphaNumRegex,
					minLength: minLength(2),
					maxLength: maxLength(50)
				},
				quantity: {
					required,
					alphaNum: alphaNumRegex,
					minLength: minLength(2),
					maxLength: maxLength(50)
				}
			}
		},
		nutritions: {
			required,
			$each: {
				name: {
					required,
					alpha: alphaNumRegex,
					minLength: minLength(2),
					maxLength: maxLength(50)
				},
				quantity: {
					required,
					alphaNum: alphaNumRegex,
					minLength: minLength(2),
					maxLength: maxLength(50)
				}
			}
		},
		instructions: {
			required,
			$each: {
				desc: {
					required,
					minLength: minLength(30),
					maxLength: maxLength(500)
				}
			}
		}
	},
	components: {
		vueDropzone: vue2Dropzone
	},

  methods: {
		//  add and remove Ingredient
    addIngredient() {
      try {
         this.ingredients.push({
            name: '',
            quantity: ''
        })
      } catch (error) {
        console.log(error)
      }
     
    },
    removeIngredient(index) {
	  if(this.ingredients.length == 1) {
		  alert('Enter at least 1 ingredients')
	  } else {
	  	this.ingredients.splice(index, 1) 
	  }
    },

  //  add and remove instructions
    addInstruction() {
      this.instructions.push({
        desc: ''
      })
    },
    removeInstruction(index) {
	  if(this.instructions.length == 1) {
		  alert('Enter at least 1 instructions')
	  } else {
	  	this.instructions.splice(index, 1) 
	  }
      
    },
    addNutritions() {
      this.nutritions.push({
       		name: '',
			quantity: ''
      })
    },
    removeNutritions(index) {
	 
	   	if (this.nutritions.length == 1) {
		  alert('Enter at least 1 nutritions')
		} else {
	  		 this.nutritions.splice(index, 1) 
	  	}
	},
		fileAdded(file) {
			NProgress.done()
		},
		fileRemoved(file, error, xhr) {
				this.fileUploaded = false
		},
		fileUploadCompleted(file) {
				 NProgress.done()
				 this.recipeInfo.recipeImage = file
				 this.fileUploaded = true
		},
		fileError(file, message, xhr) {
			this.fileUploaded = false
		},
	async	submitRecipe() {
		const app = this;
			try {
					this.$v.$touch();
					if(!this.$refs.myVueDropzone.getAcceptedFiles().length > 0) {
						this.fileUploaded = false;
					}
					if(!this.$v.$invalid && this.fileUploaded) {
						NProgress.start();
						const recipeData = {
							title: this.recipeInfo.title,
							preparationTime: this.recipeInfo.preparationTime,
							cookingTime: this.recipeInfo.cookingTime,
							difficultyValue: this.recipeInfo.difficultyValue,
							serveNumber: this.recipeInfo.serveNumber,
							categoryValue: this.recipeInfo.categoryValue,
							description: this.recipeInfo.description,
							ingredients: this.ingredients,
							nutritions: this.nutritions,
							steps: this.instructions,
							recipeImage:  this.recipeInfo.recipeImage,
							recipeBy: this.$store.state.user.user
						}
						 const res =	await this.$store.dispatch('postRecipe', recipeData)
							if(res) {
								this.$refs.alert.showSuccessAlert('Recipe submit successfully', 3000)
								NProgress.done()
								this.$toast.success(
								'Recipe Successfully submited',
								'Redirecting..', { 
										position: 'topCenter', 
										timeout: '2000',  
										overlay: false,
										onClosing: function(instance, toast, closedBy) {
											app.$router.push('/recipes')
										}
								})
							} else {
								NProgress.done()
								this.$refs.alert.showDangerAlert('Something went wrong! please login again', 3000)
							}
					} else {
						this.$refs.alert.showDangerAlert('Please enter valid data', 3000)
					}
				} catch (error) {
						NProgress.done()
						console.log('error:', error.message)
				}
		}
  },
  mounted() {
		this.addIngredient();
	 	this.addInstruction();
		this.addNutritions();
  },
}
</script>

<style>
.vue-dropzone {
	padding: 0;
	min-height: initial;
	margin: 0 !important;
	border: none;
}
.dropzone .dz-message {
	margin: 0 !important;
}
.dropzone.dz-clickable .dz-message {
	margin: 0;
}
/* .dz-size,.dz-progress .dz-upload, .dz-error-message, .dz-success-mark, .dz-error-mark {
	display: none;
}
.dz-filename span[data-dz-name] {
	text-transform: lowercase;
	font-style: 14px;
} */
.dropzone .dz-preview {
	margin: 0;
}
.dropzone .dz-preview.dz-error .dz-error-mark {
	display: none;
}
.dropzone .dz-preview.dz-image-preview {
	width: 320px;
}
.vue-dropzone>.dz-preview .dz-image {
    border-radius: 0;
    width: 100%;
    height: 100%;
}
.vue-dropzone.dropzone .dz-preview .dz-image img {
	filter: none;
	width: 100%;
	height: auto;
}
.dropzone .dz-preview.dz-image-preview .dz-details,
.vue-dropzone>.dz-preview .dz-details {
	position: static;
    opacity: 1;
    background: none;
    color: red;
}
.dropzone .dz-preview.dz-error .dz-error-message {
		position: static;
    border-radius: 0;
    padding: 10px !important;
		opacity: 1;
}

.vue-dropzone>.dz-preview .dz-remove {
		position: static;
    color: #ffffff;
    border: none;
    margin: 0;
    font-size: 12px;
    font-weight: normal;
    background: #f07a74;
    border-radius: 4px;
		opacity: 1;
		margin-top: 10px;
}
/* animation for array remove and add items */
.list-complete-item {
  transition: all 0.5s;
  display: inline-block;
  margin-right: 10px;
}
.list-complete-enter, .list-complete-leave-to
/* .list-complete-leave-active below version 2.1.8 */ {
  opacity: 0;
  transform: translateY(30px);
}
.list-complete-leave-active {
  position: static;
}

</style>