<template>
  <!--main-->
	<main class="main" role="main">
		<!--wrap-->
		<div class="wrap clearfix">
			<!--row-->
			<div class="row">
			<!--content-->
				<section class="content center full-width">
					<form @submit.prevent="signup()">
						<div class="modal container">
							<h3>Register</h3>
							<div class="f-row">
								<vue-dropzone  
									ref="myVueDropzone" 
									id="dropzone"
									:useCustomSlot="true" 
									:options="dropzoneOptions"
									@vdropzone-file-added = "fileAdded"
									@vdropzone-removed-file = "fileRemoved"
									@vdropzone-complete = "fileUploadCompleted"
									@vdropzone-error = "fileError"
									:include-styling = "true"	
								>
								<div class="uploader" :class="{'is-error': !fileUploaded}"><span class="filename" style="user-select: none;">Select your profile picture</span><span class="action" style="user-select: none;">Choose File</span></div>
								</vue-dropzone>
								<p class="is-error" v-if="!fileUploaded">Please enter profile image </p>
							</div>
							<div class="f-row">
								<input :class="{'is-error': $v.userName.$error}" type="text" placeholder="Your name" v-model="userName" />
								<p class="is-error" v-if="!$v.userName.alpha && $v.userName.$dirty">Only alphabets character allowed</p>
								<p class="is-error" v-if="!$v.userName.required && $v.userName.$dirty">Enter your name</p>
								<p class="is-error" v-if="!$v.userName.maxLength && $v.userName.$dirty">Maximum 15 character allowed</p>
								<p class="is-error" v-if="!$v.userName.minLength && $v.userName.$dirty">Please enter minimum 6 character</p>
								<!-- <p class="is-error" v-if="!$v.userName.email && $v.userName.$dirty">Invalid email</p> -->
							</div>
							<div class="f-row">
								<input :class="{'is-error': $v.userEmail.$error}" type="text" placeholder="Your email" v-model="userEmail" />
								<p class="is-error" v-if="!$v.userEmail.required && $v.userEmail.$dirty">Enter your email</p>
								<p class="is-error" v-if="!$v.userEmail.email && $v.userEmail.$dirty">Invalid email</p>
							</div>
							<div class="f-row">
									<input :class="{'is-error': $v.passwd.$error}" type="password" placeholder="Your password" v-model="passwd" />
									<p class="is-error" v-if="!$v.passwd.required && $v.passwd.$dirty">Enter your password</p>
									<p class="is-error" v-if="!$v.passwd.maxLength && $v.passwd.$dirty">Maximum 15 character allowed</p>
								<p class="is-error" v-if="!$v.passwd.minLength && $v.passwd.$dirty">Please enter minimum 6 character</p>
							</div>
							<div class="f-row">
								<input :class="{'is-error': $v.repeatPassword.$error}" type="password" v-model="repeatPassword" placeholder="Retype password" />
								<p class="is-error" v-if="!$v.repeatPassword.sameAsPassword && $v.repeatPassword.$dirty">Password should be same.</p>
							</div>
							
							<div class="f-row bwrap">
								<input type="submit" value="register" />
							</div>
							<p >Already have an account yet? <router-link to="login">Log in.</router-link></p>
							
						</div>
					</form>
					<div v-if="invalid" class="alert alert-danger" role="alert">Something went wrong</div>
					<div v-if="emailExits" class="alert alert-danger" role="alert">Email already exits</div>
				</section>
				<!--//content-->
			</div>
			<!--//row-->
		</div>
		<!--//wrap-->
	</main>
	<!--//main-->
</template>
<script>
import vue2Dropzone from 'vue2-dropzone'
import 'vue2-dropzone/dist/vue2Dropzone.min.css'
import NProgress from 'nprogress'
import { required, email, alpha, maxLength, minLength, sameAs, helpers } from 'vuelidate/lib/validators'	
const alphaRegex = helpers.regex('alpha', /^[a-zA-Z ]*$/)
export default {
	data() {
		return {
			fileUploaded: true,
			userImage: '',
			userEmail: '',
			passwd: null,
			userName: '' ,
			repeatPassword: '',
			invalid: false,
			emailExits: false,
			dropzoneOptions: {
				url: 'https://httpbin.org/post',
				thumbnailWidth: null,
				thumbnailWidth: null,
				maxFilesize: 5,
				addRemoveLinks: true,
				uploadMultiple: false,
				maxFiles: 1,
				maxFilesize: 1,
				filesizeBase: 1024,
				acceptedFiles: '.jpg,.jpeg,.png'
			}
		}
	},
	components: {
    vueDropzone: vue2Dropzone
  },
	validations: {
		userEmail: {
			required,
			email
		},
		passwd: {
				required,
				maxLength: maxLength(15),
				minLength: minLength(6)
		},
		repeatPassword: {
      sameAsPassword: sameAs('passwd')
    },
		userName: {
				required,
				alpha: alphaRegex,
				maxLength: maxLength(15),
				minLength: minLength(6)
		}
	},
	methods: {
		async signup() {
			const app = this;
			try {
					this.$v.$touch()
					if(!this.$refs.myVueDropzone.getAcceptedFiles().length > 0) {
						this.fileUploaded = false;
					}
					if (!this.$v.$invalid && this.fileUploaded ) {
						const userData = {
							email: this.userEmail,
							password: this.passwd,
							returnSecureToken: true
						}
						NProgress.start()
						const res = await this.$store.dispatch('signup', userData)
						if(res.status != 200) {
							if(res.status == 400) {
								NProgress.done()
								this.$toast.error(
									'Email alerady exits', 
									'Error', { 
										position: 'topCenter', timeout: '3000',  overlay: false
								})
							} else {
								NProgress.done()
								this.$toast.error(
									'Something went wrong', 
									'Error', { 
										position: 'topCenter', timeout: '3000',  overlay: false
								})
							}
						} else {
							NProgress.done()
							this.$toast.success(
							'Registration Successfully',
							'Redirecting..', { 
									position: 'topCenter', 
									timeout: '2000',  
									overlay: false,
									onClosing: function(instance, toast, closedBy) {
										app.$router.push('/login')
									}
							})
						}
					} else {
						this.$toast.error(
							'Please enter required fields', 
							'Error', { 
								position: 'topCenter', timeout: '3000',  overlay: false
						})
					}
			} catch (error) {
				console.log('error:', error.name)
			}
		},
		fileAdded(file) {
			NProgress.done()
		},
		fileRemoved(file, error, xhr) {
				this.fileUploaded = false
		},
		fileUploadCompleted(file) {
				 NProgress.done()
				 this.userImage = file
				 this.fileUploaded = true
		},
		fileError(file, message, xhr) {
			this.fileUploaded = false
		},
	},
	beforeCreate() {
		if(this.$store.getters.isAuthenticated) {
			this.$router.push('/')
		}
	}
}
</script>
<style>
.vue-dropzone {
	padding: 0;
	min-height: initial;
	margin: 0 !important;
	border: none;
}
.dropzone .dz-message {
	margin: 0 !important;
}
.dropzone.dz-clickable .dz-message {
	margin: 0;
}
/* .dz-size,.dz-progress .dz-upload, .dz-error-message, .dz-success-mark, .dz-error-mark {
	display: none;
}
.dz-filename span[data-dz-name] {
	text-transform: lowercase;
	font-style: 14px;
} */
.dropzone .dz-preview {
	margin: 0;
}
.dropzone .dz-preview.dz-error .dz-error-mark {
	display: none;
}
.dropzone .dz-preview.dz-image-preview {
	width: 320px;
}
.vue-dropzone>.dz-preview .dz-image {
    border-radius: 0;
    width: 100%;
    height: 100%;
}
.vue-dropzone.dropzone .dz-preview .dz-image img {
	filter: none;
	width: 100%;
	height: auto;
}
.dropzone .dz-preview.dz-image-preview .dz-details,
.vue-dropzone>.dz-preview .dz-details {
	position: static;
    opacity: 1;
    background: none;
    color: red;
}
.dropzone .dz-preview.dz-error .dz-error-message {
		position: static;
    border-radius: 0;
    padding: 10px !important;
		opacity: 1;
}

.vue-dropzone>.dz-preview .dz-remove {
		position: static;
    color: #ffffff;
    border: none;
    margin: 0;
    font-size: 12px;
    font-weight: normal;
    background: #f07a74;
    border-radius: 4px;
		opacity: 1;
		margin-top: 10px;
}
/* animation for array remove and add items */
.list-complete-item {
  transition: all 0.5s;
  display: inline-block;
  margin-right: 10px;
}
.list-complete-enter, .list-complete-leave-to
/* .list-complete-leave-active below version 2.1.8 */ {
  opacity: 0;
  transform: translateY(30px);
}
.list-complete-leave-active {
  position: static;
}
</style>