<template>
    <!--main-->
	<main class="main" role="main">
		<!--wrap-->
		<div class="wrap clearfix">
			<!--breadcrumbs-->
			<breadcrumbs></breadcrumbs>
			<!--//breadcrumbs-->
			
			<!--row-->
			<div class="row">
				<header class="s-title">
					<h1>Search for Recipes</h1>
				</header>
				
				<!--content-->
				<section class="content full-width">
					<!--recipefinder-->
					<div class="container recipefinder">
						<div class="left">
							<h3>Search by ingredients</h3>
							<p>Click the ‘-’ to remove an ingredient, or click the ingredient itself to emphasize</p>
							<div class="f-row">
								<input type="text" placeholder="Add ingredients (one at a time)" />
								<button class="add">+</button>
							</div>
							<div class="f-row">
								<input type="text" value="garlic" />
								<button class="remove">-</button>
							</div>
							<div class="f-row">
								<input type="submit" value="Search" />
							</div>
						</div>
						<div class="right">
							<div class="ingredients">
								<h3>Do you also have?</h3>
								<a href="#" class="button gold">Olive oil</a><a href="#" class="button gold">Parsley</a><a href="#" class="button gold">Tomato</a><a href="#" class="button gold">Olive oil</a><a href="#" class="button gold">Parsley</a><a href="#" class="button gold">Tomato</a><a href="#" class="button gold">Parsley</a><a href="#" class="button gold">Tomato</a><a href="#" class="button gold">Olive oil</a><a href="#" class="button gold">Parsley</a><a href="#" class="button gold">Tomato</a>
							</div>
							
							<h3>Or you might want to search directly</h3>
							<div class="row">
								<div class="search one-half">
									<input type="search" placeholder="Find recipe by name" />
									<input type="submit" value="Search" />
								</div>
								
								<div class="one-half">
									<select>
										<option>or select a category</option>
										<option>Apetizers</option>
										<option>Cocktails</option>
										<option>Deserts</option>
										<option>Main courses</option>
										<option>Snacks</option>
										<option>Soups</option>
									</select>
								</div>
							</div>
						</div>
					</div>
					<!--//recipefinder-->
				
					<!--results-->
					<div class="entries row">
                        <template v-for="(item, key) in recipes" >
													<recipe-block 
													:recipeName = item.title
													:image = item.recipeImage.dataURL
													:difficulty = item.difficultyValue
													:likes = item.likes
													:comments = item.comments
													:recipeLink = key
													widthClass = 'one-third'
												>
												</recipe-block>

											
											</template>
                        <div class="quicklinks">
								<a href="#" class="button">Mores recipes</a>
                <btn-scroll-top></btn-scroll-top>
							</div>
                    </div>
					<!--//results-->
				</section>
				<!--//content-->
			</div>
			<!--//row-->
		</div>
		<!--//wrap-->
	</main>
	<!--//main-->
</template>

<script>
import recipeBlock from '../common/recipe-block'
import NProgress from 'nprogress'
export default {
	data() {
		return {
			recipes: {}
		}
	},
	components: {
		recipeBlock
	},
	methods: {
			async	getRecipe () {
			try {
					NProgress.start()
					await this.$store.dispatch('getRecipes')
					.then(res => {
							this.recipes = res
							NProgress.done();
							return true
					})
			.catch(error => {
					console.log(error)
			}) 
			} catch (error) {
				console.log('Error:', error)
				NProgress.done();
			}
		
		}
	},
	 mounted() {
		this.getRecipe();
  },
}
</script>