<template>
	<!--main-->
	<main class="main" role="main">
		<!--intro-->
		<div class="intro">
		<figure class="bg"><img src="../../static/images/intro.jpg" alt="" /></figure>
			<!--wrap-->
			<div class="wrap clearfix">
				<!--row-->
				<div class="row">
					<article class="three-fourth text">
						<h1>Welcome to SocialChef!</h1>
						<p>SocialChef is the ultimate <strong>cooking social community</strong>, where recipes come to life. Wanna know what you will gain by joining us? Lorem ipsum dolor sit amet, this is some teaser text.</p>
						<p>You will win awesome prizes, make new friends and share delicious recipes. </p>
						<router-link v-if="!isLogin" to="/registration" class="button white more medium">Join our community <i class="fa fa-chevron-right"></i></router-link>
						<p  v-if="!isLogin">Already a member? Click <router-link to="/login">here</router-link> to login.</p>
					</article>
					
					<!--search recipes widget-->
					<div class="one-fourth">
						<div class="widget container">
							<div class="textwrap">
								<h3>Search for recipes</h3>
								<p>All you need to do is enter an igredient, a dish or a keyword. </p>
								<p>You can also select a specific category from the dropdown.</p>
								<p>There’s sure to be something tempting for you to try.</p> 
								<p>Enjoy!</p>
							</div>
							<form action="#">
								<div class="f-row">
									<input type="text" placeholder="Enter your search term" />
								</div>
								<div class="f-row">
									<select>
										<option>or select a category</option>
										<option>Apetizers</option>
										<option>Cocktails</option>
										<option>Deserts</option>
										<option>Main courses</option>
										<option>Snacks</option>
										<option>Soups</option>
									</select>
								</div>
								<div class="f-row bwrap">
									<input type="submit" value="Start cooking!" />
								</div>
							</form>
						</div>
					</div>
					<!--//search recipes widget-->
				</div>
				<!--//row-->
			</div>
			<!--//wrap-->
		</div>
		<!--//intro-->
		
		<!--wrap-->
		<div class="wrap clearfix">
			<!--row-->
			<div class="row">
				<!--content-->
				<section class="content full-width">
					<div class="icons dynamic-numbers">
						<header class="s-title">
							<h2 class="ribbon large">SocialChef in numbers</h2>
						</header>
						
						<!--row-->
						<div class="row">
							<!--item-->
							<div class="one-sixth">
								<div class="container">
									<i class="icon icon-themeenergy_chef-hat"></i>
									<span class="title dynamic-number" data-dnumber="1730">0</span>
									<span class="subtitle">members</span>
								</div>
							</div>
							<!--//item-->
							
							<!--item-->
							<div class="one-sixth">
								<div class="container">
									<i class="icon icon-themeenergy_pan"></i>
									<span class="title dynamic-number" data-dnumber="1250">{{totalRecipes}}</span>
									<span class="subtitle">recipes</span>
								</div>
							</div>
							<!--//item-->
							
							<!--item-->
							<div class="one-sixth">
								<div class="container">
									<i class="icon icon-themeenergy_image"></i>
									<span class="title dynamic-number" data-dnumber="5300">0</span>
									<span class="subtitle">photos</span>
								</div>
							</div>
							<!--//item-->
							
							<!--item-->
							<div class="one-sixth">
								<div class="container">
									<i class="icon icon-themeenergy_pencil"></i>
									<span class="title dynamic-number" data-dnumber="2300">0</span>
									<span class="subtitle">forum posts</span>
								</div>
							</div>
							<!--//item-->
							
							<!--item-->
							<div class="one-sixth">
								<div class="container">
									<i class="icon icon-themeenergy_chat-bubbles"></i>
									<span class="title dynamic-number" data-dnumber="7400">0</span>
									<span class="subtitle">comments</span>
								</div>
							</div>
							<!--//item-->
							
							<!--item-->
							<div class="one-sixth">
								<div class="container">
									<i class="icon icon-themeenergy_stars"></i>
									<span class="title dynamic-number" data-dnumber="1700">0</span>
									<span class="subtitle">articles</span>
								</div>
							</div>
							<!--//item-->
						
							<div class="cta">
							  <router-link to="/login" class="button big">Join us!</router-link>
							</div>
						</div>
						<!--//row-->
					</div>
				</section>
				<!--//content-->
			
				<!--content-->
				<section class="content three-fourth">
					<!--cwrap-->
					<div class="cwrap">
						<header class="s-title">
							<h2 class="ribbon bright">Latest recipes</h2>
						</header>
						
						<!--entries-->
						<div class="entries row">
							<template v-for="(item, key) in recipes" >
									<recipe-block 
									:recipeName = item.title
									:image = item.recipeImage.dataURL
									:difficulty = item.difficultyValue
									:likes = item.likes
									:comments = item.comments
									:recipeLink = key
									widthClass = 'one-third'
								>
								</recipe-block>

							
							</template>
						
							
							<div class="quicklinks">
                <btn-scroll-top></btn-scroll-top>
							</div>
						</div>
						<!--//entries-->
					</div>
					<!--//cwrap-->
				
				</section>
				<!--//content-->
		
			
				<!--right sidebar-->
				<aside class="sidebar one-fourth">
					<div class="widget">
						<h3>Recipe Categories</h3>
						<ul class="boxed">
							<li class="light"><a href="#" title="Appetizers"><i class="icon icon-themeenergy_pasta"></i> <span>Apetizers</span></a></li>
							<li class="medium"><a href="#" title="Cocktails"><i class="icon icon-themeenergy_margarita2"></i> <span>Cocktails</span></a></li>
							<li class="dark"><a href="#" title="Deserts"><i class="icon icon-themeenergy_cupcake"></i> <span>Deserts</span></a></li>
							
							<li class="medium"><a href="#" title="Cocktails"><i class="icon icon-themeenergy_eggs"></i> <span>Eggs</span></a></li>
							<li class="dark"><a href="#" title="Equipment"><i class="icon icon-themeenergy_blender"></i> <span>Equipment</span></a></li>
							<li class="light"><a href="#" title="Events"><i class="icon icon-themeenergy_turkey"></i> <span>Events</span></a></li>
						
							<li class="dark"><a href="#" title="Fish"><i class="icon icon-themeenergy_fish2"></i> <span>Fish</span></a></li>
							<li class="light"><a href="#" title="Ftness"><i class="icon icon-themeenergy_biceps"></i> <span>Fitness</span></a></li>
							<li class="medium"><a href="#" title="Healthy"><i class="icon icon-themeenergy_apple2"></i> <span>Healthy</span></a></li>
							
							<li class="light"><a href="#" title="Asian"><i class="icon icon-themeenergy_sushi"></i> <span>Asian</span></a></li>
							<li class="medium"><a href="#" title="Mexican"><i class="icon icon-themeenergy_peper"></i> <span>Mexican</span></a></li>
							<li class="dark"><a href="#" title="Pizza"><i class="icon  icon-themeenergy_pizza-slice"></i> <span>Pizza</span></a></li>
							
							<li class="medium"><a href="#" title="Kids"><i class="icon icon-themeenergy_happy"></i> <span>Kids</span></a></li>
							<li class="dark"><a href="#" title="Meat"><i class="icon icon-themeenergy_meat"></i> <span>Meat</span></a></li>
							<li class="light"><a href="#" title="Snacks"><i class="icon icon-themeenergy_fried-potatoes"></i> <span>Snacks</span></a></li>
							
							<li class="dark"><a href="#" title="Salads"><i class="icon icon-themeenergy_eggplant"></i> <span>Salads</span></a></li>
							<li class="light"><a href="#" title="Storage"><i class="icon icon-themeenergy_soup2"></i> <span>Soups</span></a></li>
							<li class="medium"><a href="#" title="Vegetarian"><i class="icon icon-themeenergy_plant-symbol"></i> <span>Vegetarian</span></a></li>
						</ul>
					</div>
						
					<div class="widget">
						<h3>Tips and tricks</h3>
						<ul class="articles_latest">
							<li>
								<a href="blog_single.html">
									<img src="../../static/images/img9.jpg" alt="" />
									<h6>How to decorate cookies</h6>
								</a>
							</li>
							<li>
								<a href="blog_single.html">
									<img src="../../static/images/img10.jpg" alt="" />
									<h6>Make your own bread</h6>
								</a>
							</li>
							<li>
								<a href="blog_single.html">
									<img src="../../static/images/img11.jpg" alt="" />
									<h6>How to make sushi</h6>
								</a>
							</li>
							<li>
								<a href="blog_single.html">
									<img src="../../static/images/img12.jpg" alt="" />
									<h6>Barbeque party</h6>
								</a>
							</li>
							<li>
								<a href="blog_single.html">
									<img src="../../static/images/img8.jpg" alt="" />
									<h6>How to make a cheesecake</h6>
								</a>
							</li>
						</ul>
					</div>
						
					<div class="widget members">
						<h3>Our members</h3>
						<div id="members-list-options" class="item-options">
						  <a href="#">Newest</a>
						  <a class="selected" href="#">Active</a>
						  <a href="#">Popular</a>
						</div>
						<ul class="boxed">
							<li><div class="avatar"><a href="my_profile.html"><img src="../../static/images/avatar1.jpg" alt="" /><span>Kimberly C.</span></a></div></li>
							<li><div class="avatar"><a href="my_profile.html"><img src="../../static/images/avatar2.jpg" alt="" /><span>Alex J.</span></a></div></li>
							<li><div class="avatar"><a href="my_profile.html"><img src="../../static/images/avatar3.jpg" alt="" /><span>Denise M.</span></a></div></li>
							<li><div class="avatar"><a href="my_profile.html"><img src="../../static/images/avatar9.jpg" alt="" /><span>Jason H.</span></a></div></li>
							<li><div class="avatar"><a href="my_profile.html"><img src="../../static/images/avatar8.jpg" alt="" /><span>Jennifer W.</span></a></div></li>
							<li><div class="avatar"><a href="my_profile.html"><img src="../../static/images/avatar4.jpg" alt="" /><span>Anabelle Q.</span></a></div></li>
							<li><div class="avatar"><a href="my_profile.html"><img src="../../static/images/avatar7.jpg" alt="" /><span>Thomas M.</span></a></div></li>
							<li><div class="avatar"><a href="my_profile.html"><img src="../../static/images/avatar5.jpg" alt="" /><span>Michelle S.</span></a></div></li>
							<li><div class="avatar"><a href="my_profile.html"><img src="../../static/images/avatar6.jpg" alt="" /><span>Bryan A.</span></a></div></li>
						</ul>
					</div>
						
					<div class="widget">
						<h3>Advertisment</h3>
						<a href="#"><img src="../../static/images/advertisment.jpg" alt="" /></a>
					</div>
				</aside>
			</div>
			<!--//right sidebar-->
		</div>
		<!--//wrap-->
	</main>
	<!--//main-->

</template>
<script>
import recipeBlock from './common/recipe-block'
import NProgress from 'nprogress'
import { mapGetters } from 'vuex'
export default {
	data() {
		return {	
			recipes: {},
		}
	},
	components: {
		recipeBlock
	},
	methods: {
		async	getRecipe () {
			try {
					NProgress.start()
					await this.$store.dispatch('getRecipes')
					.then(res => {
							this.recipes = res
							NProgress.done();
							return true
					})
			.catch(error => {
					console.log(error)
			}) 
			} catch (error) {
				console.log('Error:', error)
				NProgress.done();
			}
		
		}
	},
  mounted() {
   const el = document.body;
		el.classList.add('home');
		this.getRecipe();
  },
  computed: {
		isLogin() {
			return this.$store.getters.isAuthenticated
		},
		totalRecipes() {
			return this.$store.getters.getRecipesCount
		}
  },
  destroyed() {
    const el = document.body;
    el.classList.remove('home');
  },
}
</script>