<template>
  	<!--breadcrumbs-->
			<nav class="breadcrumbs">
				<ul>
					<router-link tag="li" to="/">
						<a href="javascript:void(0)"> Home</a> 
					</router-link>
					<router-link tag="li" :to='"/recipes"' v-if=this.$route.params.name>
						<a href="javascript:void(0)">Recipes</a> 
					</router-link>
					<router-link tag="li" :to="$route.path" v-if=this.$route.params.name>
						<a href="javascript:void(0)"> {{currentPage}}</a> 
					</router-link>
					<li v-else>
						{{currentPage}}
					</li>
					<li v-if=this.$route.params.name>
						{{this.$route.params.name}}
					</li>
				</ul>
			</nav>
    <!--//breadcrumbs-->
</template>
<script>
export default {
	data() {
		return {
			currentPage: ''
		}
	},
	mounted() {
		this.currentPage = this.$route.name
	},
 	watch: {
   '$route' (to, from) {
		 this.currentPage = to.name
    }
  },
}
</script>