<template>
  	<!--footer-->
	<footer class="foot" role="contentinfo">
		<div class="wrap clearfix">
			<div class="row">
				<article class="one-half">
					<h5>About SocialChef Community</h5>
					<p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. Ut wisi enim ad minim veniam, quis nostrud exerci.</p>
				</article>
				<article class="one-fourth">
					<h5>Need help?</h5>
					<p>Contact us via phone or email</p>
					<p><em>T:</em>  +1 555 555 555<br /><em>E:</em>  <a href="#">socialchef@email.com</a></p>
				</article>
				<article class="one-fourth">
					<h5>Follow us</h5>
					<ul class="social">
						<li><a href="#" title="facebook"><i class="fa fa-fw fa-facebook"></i></a></li>
						<li><a href="#" title="youtube"><i class="fa  fa-fw fa-youtube"></i></a></li>
						<li><a href="#" title="rss"><i class="fa  fa-fw fa-rss"></i></a></li>
						<li><a href="#" title="gplus"><i class="fa fa-fw fa-google-plus"></i></a></li>
						<li><a href="#" title="linkedin"><i class="fa fa-fw fa-linkedin"></i></a></li>
						<li><a href="#" title="twitter"><i class="fa fa-fw fa-twitter"></i></a></li>
						<li><a href="#" title="pinterest"><i class="fa fa-fw fa-pinterest-p"></i></a></li>
						<li><a href="#" title="vimeo"><i class="fa fa-fw fa-vimeo"></i></a></li>
					</ul>
				</article>
				
				<div class="bottom">
					<p class="copy">Copyright 2016 SocialChef. All rights reserved</p>
					
					<nav class="foot-nav">
						<ul>
							<router-link tag="li" to="/" >
								<a title="Recipes"><span>Home</span></a>
							</router-link>
							<router-link tag="li" to="/recipes" >
								<a title="Recipes"><span>Recipes</span></a>
							</router-link>
							<router-link tag="li" to="/contact" >
								<a title="Contact"><span>Contact</span></a>
							</router-link>   
							<router-link class="light" tag="li" to="/search" title="Search for recipes">
								<a><i class="icon icon-themeenergy_search"></i> <span>Search for recipes</span></a>
							</router-link> 
							<router-link v-if="isLogin" class="medium" tag="li" to="/my_account" title="Submit a recipe">
								<a title="My account"><i class="icon icon-themeenergy_chef-hat"></i> <span>My account</span></a>
							</router-link>
						</ul>
					</nav>
				</div>
			</div>
		</div>
	</footer>
	<!--//footer-->
</template>

<script>
export default {
	computed: {
		isLogin() {
			return this.$store.getters.isAuthenticated
		}
  },
}
</script>