<template>
  	<!--header-->
	<header class="head" role="banner">
		<!--wrap-->
		<div class="wrap clearfix">
			<div class="slicknav_menu">
				<a href="#" @click="isOpen =! isOpen" aria-haspopup="true" tabindex="0" class="slicknav_btn" :class="{'slicknav_open': isOpen,  'slicknav_collapsed': !isOpen}" style="outline: none;"><span class="slicknav_menutxt"></span><span class="slicknav_icon slicknav_no-text"><span class="slicknav_icon-bar"></span><span class="slicknav_icon-bar"></span><span class="slicknav_icon-bar"></span></span></a>
				<nav class="slicknav_nav" role="menu" aria-hidden="true" :style="[isOpen ? {'display': 'block'} : {'display': 'none'}]">
				<ul>
					<li class="current-menu-item"><a href="index-2.html" title="Home" role="menuitem"><span>Home</span></a></li>
					<li class="slicknav_collapsed slicknav_parent"><a href="#" role="menuitem" aria-haspopup="true" tabindex="-1" class="slicknav_item slicknav_row" style="outline: none;"><a href="recipes.html" title="Recipes"><span>Recipes</span></a>
						<span class="slicknav_arrow">►</span></a><ul role="menu" class="slicknav_hidden" aria-hidden="true" style="display: none;">
							<li><a href="recipes2.html" title="Recipes 2" role="menuitem" tabindex="-1">Recipes 2</a></li><li><a href="recipe.html" title="Recipe" role="menuitem" tabindex="-1">Recipe</a></li>
						</ul>
					</li>
					<li class="slicknav_collapsed slicknav_parent"><a href="#" role="menuitem" aria-haspopup="true" tabindex="-1" class="slicknav_item slicknav_row" style="outline: none;"><a href="blog.html" title="Blog"><span>Blog</span></a>
						<span class="slicknav_arrow">►</span></a><ul role="menu" class="slicknav_hidden" aria-hidden="true" style="display: none;">
							<li><a href="blog_single.html" title="Blog post" role="menuitem" tabindex="-1">Blog post</a></li>
						</ul>
					</li>
					<li class="slicknav_collapsed slicknav_parent"><a href="#" role="menuitem" aria-haspopup="true" tabindex="-1" class="slicknav_item slicknav_row" style="outline: none;"><a href="#" title="Pages"><span>Pages</span></a>
						<span class="slicknav_arrow">►</span></a><ul role="menu" class="slicknav_hidden" aria-hidden="true" style="display: none;">
							<li><a href="left_sidebar.html" title="Left sidebar page" role="menuitem" tabindex="-1">Left sidebar page</a></li>
							<li><a href="right_sidebar.html" title="Right sidebar page" role="menuitem" tabindex="-1">Right sidebar page</a></li>
							<li><a href="two_sidebars.html" title="Both sidebars page" role="menuitem" tabindex="-1">Both sidebars page</a></li>
							<li><a href="full_width.html" title="Full width page" role="menuitem" tabindex="-1">Full width page</a></li>
							<li><a href="login.html" title="Login page" role="menuitem" tabindex="-1">Login page</a></li><li><a href="register.html" title="Register page" role="menuitem" tabindex="-1">Register page</a></li>
							<li><a href="error404.html" title="Error page" role="menuitem" tabindex="-1">Error page</a></li>
						</ul>
					</li>
					<li class="slicknav_collapsed slicknav_parent"><a href="#" role="menuitem" aria-haspopup="true" tabindex="-1" class="slicknav_item slicknav_row" style="outline: none;"><a href="#" title="Features"><span>Features</span></a>
						<span class="slicknav_arrow">►</span></a><ul role="menu" class="slicknav_hidden" aria-hidden="true" style="display: none;">
							<li><a href="icons.html" title="Icons" role="menuitem" tabindex="-1">Icons</a></li>
							<li><a href="grid.html" title="Grid" role="menuitem" tabindex="-1">Grid</a></li>
							<li><a href="shortcodes.html" title="Shortcodes" role="menuitem" tabindex="-1">Shortcodes</a></li>
							<li><a href="pricing.html" title="Pricing tables" role="menuitem" tabindex="-1">Pricing tables</a></li>
						</ul>
					</li>
					<li><a href="contact.html" title="Contact" role="menuitem"><span>Contact</span></a></li>
					<li><a href="http://themeforest.net/item/socialchef-social-recipe-html-template/8568727?ref=themeenergy" title="Buy now" role="menuitem"><span>Buy now</span></a></li>
				</ul>
			</nav>
		</div>

			<router-link to="/" title="SocialChef" class="logo">
				<img src='../../../static/images/ico/logo.png' alt="logo" />
			</router-link>
			<nav class="main-nav" role="navigation" id="menu">
				<ul>
						<router-link tag="li" to="/" >
								<a title="Recipes"><span>Home</span></a>
						</router-link>
						<router-link tag="li" to="/recipes" >
								<a title="Recipes"><span>Recipes</span></a>
						</router-link>
						<!-- <router-link tag="li" to="/contact" >
								<a title="Contact"><span>Contact</span></a>
						</router-link> -->
				</ul>
			</nav>
			
			<nav class="user-nav" role="navigation">
				<ul>
					<li @click="logout()" v-if="isLogin" class="medium" title="Submit a recipe">
						<a  href="#" title="My account"><i class="icon icon-themeenergy_chef-hat"></i> <span>Logout</span></a>
					</li>
					<router-link v-if="!isLogin" class="medium" tag="li" to="/login" title="Submit a recipe">
						<a title="My account"><i class="icon icon-themeenergy_chef-hat"></i> <span>Login</span></a>
					</router-link>
					<router-link class="light" tag="li" to="/search" title="Search for recipes">
						<a><i class="icon icon-themeenergy_search"></i> <span>Search for recipes</span></a>
					</router-link>
					<router-link v-if="isLogin" class="medium" tag="li" to="/my_account" title="Submit a recipe">
						<a title="My account"><i class="icon icon-themeenergy_chef-hat"></i> <span>My account</span></a>
					</router-link>
					<router-link class="dark" tag="li" to="/submit_recipe" title="Submit a recipe">
						<a title="Submit a recipe"><i class="icon icon-themeenergy_fork-spoon"></i> <span>Submit a recipe</span></a>
					</router-link>
					
				</ul>
			</nav>
		</div>
		<!--//wrap-->
	</header>
	<!--//header-->
</template>
<script>
export default {
	data() {
		return {
			isOpen: false,
			isActive: true
		}
	},
	methods: {
		menuOpen() {
			this.isOpen =! this.isOpen
		},
		logout() {
			const app = this;
			try {
					this.$store.dispatch('logout') 
					.then (res => {
						if(res) {
							this.$toast.success(
								'Logout Successfully',
								'Redirecting..', { 
									position: 'topCenter', 
									timeout: '1000',  
									overlay: false,
									onClosing: function(instance, toast, closedBy) {
										if(app.$route.path != '/') {
											app.$router.push('/')
										} 
									}
							})
						}
					})
					.catch (error => {
						console.log('error:', error)
					})
			} catch (error) {
				console.log('Error:', error)
			}
			
		}
	},
	computed: {
		isLogin() {
			return this.$store.getters.isAuthenticated
		}
	},
	watch: {
		$route() {
			this.isOpen = false
		}	
	}
}
</script>
<style scoped>
.user-nav {
	width: 370px;
}
</style>