<template>
  <!--item-->
    <div class="entry" :class="widthClass">
      <figure>
        <img :src=image :alt="recipeName" />
        <figcaption><router-link :to="'recipeDetails/' + recipeLink + '/' + recipeName"><i class="icon icon-themeenergy_eye2"></i> <span>View recipe</span></router-link></figcaption>
      </figure>
      <div class="container">
      <h2><router-link :to="'recipeDetails/' + recipeLink + '/' + recipeName">{{recipeName}}</router-link></h2> 
        <div class="actions">
          <div>
            <div class="difficulty" v-if="difficultyStatus == 'medium'">
              <i class="ico i-medium"></i>
              <a href="#">medium</a>
            </div>
             <div class="difficulty" v-if="difficultyStatus == 'hard'">
              <i class="ico i-hard"></i>
              <a href="#">hard</a>
            </div>
             <div class="difficulty" v-if="difficultyStatus == 'easy'">
              <i class="ico i-easy"></i>
              <a href="#">easy</a>
            </div>

            <div class="likes"><i class="fa fa-heart"></i><a href="#">{{likes}}</a></div>
            <div class="comments"><i class="fa fa-comment"></i><a href="recipe.html#comments">{{comments}}</a></div>
          </div>
        </div>
      </div>
    </div>
  <!--item-->
</template>

<script>
export default {
  props: {
    recipeName: {
      default: 'Recipe'
    },
    image: {
      default: '../../../static/images/img6.jpg'
    },
    recipeLink: {
      default: 'https://www.google.com/'
    },
    difficulty: {
      default: 'medium'
    },
    likes: {
      default: 0
    },
    comments: {
      default: 0
    },
    widthClass: {
      default: 'one-third'
    }
  },
  computed: {
    difficultyStatus () {
      return this.difficulty.toLowerCase()
    }
  }
}
</script>