<template>
    <!-- info alert -->

  <div>
  <transition name="fade">
    <div 
      class="alert alert-info" 
      role="alert" 
      v-if="isInfoShow"
    >
      <button class="close" @click="hideInfoAlert">x</button>
     {{content}}
    </div>
  </transition>
    <!-- success alert -->
  <transition name="fade">
    <div 
      class="alert alert-success" 
      role="alert" 
      v-if="isSuccessShow"
    >
      <button class="close" @click="hideSuccessAlert">x</button>
     {{content}}
    </div>
  </transition>
    <!-- warning alert -->
<transition name="fade">    
    <div 
      class="alert alert-warning" 
      role="alert" 
      v-if="isWarningShow"
    >
      <button class="close" @click="hideWarningAlert">x</button>
     {{content}}
    </div>
</transition>
    <!-- danger alert -->
  
<transition name="fade">
    <div 
      class="alert alert-danger" 
      role="alert" 
      v-if="isDangerShow"
    >
      <button class="close" @click="hideDangerAlert">x</button>
     {{content}}
    </div>
</transition>
  </div>


</template>
<script>
export default {
  name: 'alertBox',
  data() {
    return {
      isInfoShow : false,
      isSuccessShow: false,
      isWarningShow: false,
      isDangerShow: false,
      content: 'Alert message',
      time: 5000
    }
  },
  methods: {
    hideInfoAlert() {
      this.isInfoShow = false
    },
    showInfoAlert(msg, duration) {
      if( msg != null) {
        this.content = msg
      }

      if( duration != null) {
        this.time = duration
      }

      this.isInfoShow = true

      setTimeout(() => {
        this.hideInfoAlert()
      }, this.time);
     
    },

    hideSuccessAlert() {
      this.isSuccessShow = false
    },
    showSuccessAlert(msg, duration) {
      if( msg != null) {
        this.content = msg
      }

      if( duration != null) {
        this.time = duration
      }

      this.isSuccessShow = true

      setTimeout(() => {
        this.hideSuccessAlert()
      }, this.time);
     
    },
    hideWarningAlert() {
      this.isWarningShow = false
    },
    showWarningAlert(msg, duration) {
      if( msg != null) {
        this.content = msg
      }

      if( duration != null) {
        this.time = duration
      }

      this.isWarningShow = true

      setTimeout(() => {
        this.hideWarningAlert()
      }, this.time);
     
    },
    hideDangerAlert() {
      this.isDangerShow = false
    },
    showDangerAlert(msg, duration) {
      if( msg != null) {
        this.content = msg
      }

      if( duration != null) {
        this.time = duration
      }

      this.isDangerShow = true

      setTimeout(() => {
        this.hideDangerAlert()
      }, this.time);
     
    }
  },
  created() {
  },
  
}
</script>

<style scoped>
.fade-enter-active, .fade-leave-active {
  transition: opacity .5s;
}
.fade-enter, .fade-leave-to /* .fade-leave-active below version 2.1.8 */ {
  opacity: 0;
}
</style>