<template>
  <a @click="scrollToTop()" href="javascript:void(0)" class="button">Back to top</a>
</template>
<script>
export default {
  methods: {
    scrollToTop() {
      window.scroll({
        top: 0, 
        behavior: 'smooth'
      });
    }
  },
}
</script>